@charset "UTF-8";

* {
    -webkit-tap-highlight-color: transparent;
    outline: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline
}

body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td {
    margin: 0;
    padding: 0;
    vertical-align: baseline
}

img {
    border: 0 none;
    vertical-align: top
}

i,em {
    font-style: normal
}

ol,ul {
    list-style: none
}

input,select,button,h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
    font-family: inherit
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

a {
    text-decoration: none;
    color: #333
}
html{
    font-size: 62.5%;
}
body {
    margin: 0 auto;
    min-width: 320px;
    height: 100%;
    font-family: Helvetica, STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Arial;
    line-height: 1.5;
    -webkit-text-size-adjust: 100% !important;
    -webkit-user-select: none;
    user-select: none;
    background-color: #faf8f5;
    overflow: hidden;
}
.body_white{
    background-color: #ffffff;
}
.hide,.h {
    display: none !important
}

.show {
    display: block !important
}

.clear:after {
    content: '';
    clear: both;
    display: block;
    font-size: 0
}
::-webkit-scrollbar {
    width: 0;
}
#virtual_div{
    position: absolute;
    top:0px;
    bottom:49px;
    width: 100%;
    overflow: auto;
}
.tab{
    width: 100%;
    height: 40px;
    background:#faf8f5;
}
.tab_circle{
    width: 200px;
    height: 20px;
    border-top: 1px solid #e11f26;
    border-bottom: 1px solid #e11f26;
    border-left: 1px solid #e11f26;
    margin: 0 auto;
    vertical-align: middle;
    top:10px;
    position:relative;
    border-radius: 10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}
.tab_circle_left{
    background:#ffffff;
    width: 50%;
    float: left;
    height: 20px;
    text-align: center;
    line-height: 20px;
    vertical-align: middle;
    border:0;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
}
.tab_circle_left span{
    font-size: 12px;
    color:#e11f26;
}
.tab_circle_left a{
    width: 100px;
    height: 20px;
    display: block;
    font-size: 12px;
    color:#e11f26;
}
.tab_circle_right{
    background:#e11f26;
    border-left: 1px solid #e11f26;
    width: 50%;
    float: right;
    height: 20px;
    text-align: center;
    line-height: 20px;
    vertical-align: middle;
    border:0;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    -webkit-border-top-right-radius:10px;
    -moz-border-bottom-right-radius:10px;
    -moz-border-top-right-radius:10px;
    -webkit-border-bottom-right-radius:10px;
}
.tab_circle_right span{
    font-size: 12px;color:#ffffff;
}
.tab_circle_right a{
    width: 100px;
    height: 20px;
    display: block;
    font-size: 12px;
    color:#ffffff;
}

.header{
    width: 100%;
    height: 30px;
    line-height: 30px;
    border: 1px solid red;
    background-color: red;
    color: white;
    vertical-align: middle;
    text-align: center;
}

.banner a img{
    width:100%;
    height: 120px;
}

.order_page{
    width: 100%;
    background-color: #ffffff;
}
#order_select{
    width: 100%;
    height: 145px;
}
.input_div{
    width: 100%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    padding-left:10px;
    padding-right:10px;
    padding-top: 15px;
    background-color: #ffffff;
}

.input_div_next{
    width: 100%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    padding-left:10px;
    padding-right:10px;
    background-color: #ffffff;
    top:0px;
}
.input_div_next .sure_btn{
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    position: absolute;
    top:15px;
    right:10px;
    background-color: #ffffff;
}
._qq_num{
    height: 30px;
    width: 100%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    appearance:none;
    -webkit-appearance: none;
    -moz-appearance:none;
    border: 1px solid #e7e4de;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    background-color: #faf8f5;
    font-size: 15px;
    color: #e11f26;
    padding-left:5px ;
}
/*._qq_num_red{
    color: #e11f26;
}*/
/*
._qq_num_show{
    height: 30px;
    width: 100%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    border: 1px solid #e7e4de;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    background-color: #faf8f5;
}
*/

/*.input_div .{
    height: 30px;
    line-height: 30px;
    width: 10%;
    float: right;
    border-top: 1px solid #e7e4de;
    border-bottom: 1px solid #e7e4de;
    border-right: 1px solid #e7e4de;
}

.input_div .del_btn img{
    padding-top: 3px;
    width: 24px;
    height: 24px;
}*/
 .del_btn{
    height: 30px;
    line-height: 30px;
    width: 35px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    float: left;
    background-color: #faf8f5;
    border-top: 1px solid #e7e4de;
    border-bottom: 1px solid #e7e4de;
    border-right: 1px solid #e7e4de;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    -moz-border-top-right-radius:5px;
    -moz-border-bottom-right-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    -webkit-border-top-right-radius:5px;
    text-align: center;
}
 .del_btn img{
    padding-top:8px ;
    width: 12px;
    height: 12px;
}
 .sure_btn{
    height: 30px;
    line-height: 30px;
    width: 100px;
    float: right;
    display: none;
}

 .sure_btn .inner_btn{
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    background-color: #e11f26;
    text-align: center;
    color: #ffffff;
    float: left;
    font-size: 15px;
    width: 55px;
    margin-left:10px ;
}

._input_qq{
    width: 100%;
    height: 45px;
    line-height: 45px;
    vertical-align: middle;
    font-size: 15px;
    color:#7f735a;
    border-top: 1px solid #e7e4de;
}
._input_qq_wrap{
    display: none;
}
._input_qq_wrap > div:first-child{
    margin-top: 15px;
}
._input_qq_wrap > div:last-child{
    border-bottom: 1px solid #e7e4de;
}
._input_qq_history{
    width: 100%;
    height: 55px;
    line-height: 55px;
    vertical-align: middle;
    font-size: 15px;
    color:#7f735a;
}
.clear_history{
    text-align: center;
    width: 150px;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    color:#e11f26;
    border: 1px solid #e11f26;
    border-radius:15px;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    margin-top:12px ;
}
._value_type{
    width: 100%;
    height: 45px;
    line-height: 45px;
    vertical-align: middle;
    font-size: 15px;
    color:#7f735a;
    margin-top: 15px;
    border-top: 1px solid #e7e4de;
    /*border-bottom:1px solid #e7e4de ;*/
}
._face_value{
    width: 100%;
    height: 45px;
    line-height: 45px;
    vertical-align: middle;
    font-size: 15px;
    color:#7f735a;
    border-top: 1px solid #e7e4de;
    /*border-bottom:1px solid #e7e4de ;*/
}
._face_value img{
    width: 7px;
    height: 12px;
    float: right;
    padding-right:10px;
    padding-top:17px;
}
.xx{
    padding-left:10px ;
}
.xxx{
    padding-left:10px ;
}
.xxx img{
    padding-top: 15px;
    width: 25px;
    height: 25px;
}

.xxxx{
    float: right;
    padding-right:10px ;
    height: 45px;
    line-height: 45px;
    vertical-align: middle;
    margin:0 auto;
    color: #463417;
}
.float_div{
    display: none;
}
.float_div ._opacity{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    top:0px;
    filter:alpha(opacity=70); /*IE滤镜，透明度50%*/
    -moz-opacity:0.7; /*Firefox私有，透明度50%*/
    opacity:0.7;/*其他，透明度50%*/
}
.toast ._opacity{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0px;
    background-color: black;
    filter:alpha(opacity=70); /*IE滤镜，透明度50%*/
    -moz-opacity:0.7; /*Firefox私有，透明度50%*/
    opacity:0.7;/*其他，透明度50%*/
}

._toast_pay ._opacity{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0px;
    background-color: black;
    filter:alpha(opacity=50); /*IE滤镜，透明度50%*/
    -moz-opacity:0.5; /*Firefox私有，透明度50%*/
    opacity:0.5;/*其他，透明度50%*/
}

._toast_pay {
    display: none;
}
._toast_pay .toast_order_wrap_div{
    width: 100%;
    position: absolute;
    top: 170px;
    z-index: 99;
}
._toast_pay .toast_face_value_text{
    width: 100%;
    height: 106px;
    line-height: 106px;
    vertical-align: middle;
    text-align: center;
    font-size:18px;
    color: #7f735a;
    margin: 0 auto;
}
.toast_face_value_text .toast_face_value_text_inner{
    width: 100px;
    height: 106px;
    text-align: center;
    margin: 0 auto;
    background: #ffffff;
    border:  1px solid #e7e4de;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    color: #463417;
    font-size: 12px;
    padding: 0;
}
#circle_img{
    margin: 0 auto;
    margin-top:20px ;
    width: 25px;
    height: 25px;
    animation-name:moveWindmill;
    animation-duration:0.5s;
    animation-timing-function:linearanimation-delay:0;
    animation-iteration-count:infinite;
    animation-play-state:running;
    /* Firefox: */
    -moz-animation-name:moveWindmill;
    -moz-animation-duration:0.5s;
    -moz-animation-timing-function:linear;
    -moz-animation-delay:0;
    -moz-animation-iteration-count:infinite;
    -moz-animation-play-state:running;
    -webkit-animation-name:moveWindmill;
    -webkit-animation-duration:0.5s;
    -webkit-animation-timing-function:linear;
    -webkit-animation-delay:0;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-play-state:running;
    -ms-animation-name:moveWindmill;
    -ms-animation-duration:0.5s;
    -ms-animation-timing-function:linear;
    -ms-animation-delay:0;
    -ms-animation-iteration-count:infinite;
    -ms-animation-play-state:running;
}
@keyframes moveWindmill /* Firefox */
{
    0% { -ms-transform: rotate(0deg)}
    25% { -ms-transform: rotate(90deg)}
    50% { -ms-transform: rotate(180deg)}
    75% { -ms-transform: rotate(270deg)}
    100% { -ms-transform: rotate(360deg)}
}
@-ms-keyframes moveWindmill /* Firefox */
{
    0% { -ms-transform: rotate(0deg)}
    25% { -ms-transform: rotate(90deg)}
    50% { -ms-transform: rotate(180deg)}
    75% { -ms-transform: rotate(270deg)}
    100% { -ms-transform: rotate(360deg)}
}
@-webkit-keyframes moveWindmill /* Firefox */
{
    0% { -webkit-transform: rotate(0deg)}
    25% { -webkit-transform: rotate(90deg)}
    50% { -webkit-transform: rotate(180deg)}
    75% { -webkit-transform: rotate(270deg)}
    100% { -webkit-transform: rotate(360deg)}
}
@-moz-keyframes moveWindmill /* Firefox */
{
    0% { -moz-transform: rotate(0deg)}
    25% { -moz-transform: rotate(90deg)}
    50% { -moz-transform: rotate(180deg)}
    75% { -moz-transform: rotate(270deg)}
    100% { -moz-transform: rotate(360deg)}
}
.toast_face_value_text_inner .load{
    text-align: center;
    height: 12px;
    margin: 0;
    top:-10px;
    padding-top:-100px ;
}
.toast{
    display: none;
}
.toast .toast_order_wrap_div{
    width: 100%;
    position: absolute;
    top: 220px;
}
.toast .toast_face_value_text{
    width: 260px;
    margin: 0 auto;
    height: 76px;
    line-height: 76px;
    vertical-align: middle;
    text-align: center;
    font-size:18px;
    color: #e11f26;
    background: #ffffff;
    border: 1px solid #e11f26;
    border-radius:7px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
}
.order_list{
    padding-left:10px;
    padding-right: 10px;
    padding-top: 20px ;
}
.order_list li{
    float:left;
    width: 33.28%;
    padding:10px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    font-size: 12px;
}

@media screen and (min-width:400px){
    .order_list li{
        font-size: 15px;
    }
}

.order_wrap_div{
    width: 100%;
    position: absolute;
    background-color: white;
    bottom: -90px;
    padding-bottom: 10px;
   /* display: none;*/
}
.face_value_text{
    width: 100%;
    height: 56px;
    line-height: 56px;
    border-bottom: 1px solid #e7e4de;
    vertical-align: middle;
    text-align: center;
    font-size:18px;
    color: #e11f26;
}
.order_list li .order_wrap{
    width: 100%;
    min-height: 30px;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
    border: 1px solid #e7e4de;
    background-color: #faf8f5;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    color: #463417;
}

.order_list li .order_wrap_select{
    width: 100%;
    min-height: 30px;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
    border: 1px solid #e11f26;
    background-color:  #faf8f5;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    color: #e11f26;
}

.price_wrap{
    width: 100%;
    height: 30px;
    padding-top:75px;
    text-align: center;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    font-size: 18px;
    color: #463417;
}
.price_wrap em{
    font-size: 18px;
    color: #e11f26;
    font-weight: bold;
}
.price_wrap .discount{
    font-size: 12px;
    color: #d0c7b4;
}
.price_wrap .yunying{
    float: right;
}
.price_wrap .price{
    width: 100%;
    height: 30px;
}
.bottom_btn{
    width: 100%;
    height: 49px;
    position: absolute;
    z-index: -1;
    bottom: 0px;
    background-color: #e11f26;
    color: #ffffff;
}

.bottom_btn_gray{
    background-color: #e7e4de;
    color: #d2c9b6;
}

.bottom_btn div{
    font-size: 18px;
    height: 49px;
    line-height: 49px;
    width: 100%;
    margin:0 auto;
    vertical-align: middle;
    text-align: center;
}
.confirm_page{
    display: none;
}

 .order_div{
    width: 100%;
    background-color: #ffffff;
    /*box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;*/
}

._cft_pay{
    width: 100%;
    height: 55px;
    line-height: 55px;
    vertical-align: middle;
    font-size: 15px;
    color:#7f735a;
    border-top: 1px solid #e7e4de;
    border-bottom: 1px solid #e7e4de;
    display: none;
}
.again_cft_pay{
    width: 100%;
    height: 55px;
    line-height: 55px;
    vertical-align: middle;
    font-size: 15px;
    color:#7f735a;
    border-top: 1px solid #e7e4de;
    display: none;
}
._wx_pay{
    width: 100%;
    height: 55px;
    line-height: 55px;
    vertical-align: middle;
    font-size: 15px;
    color:#7f735a;
    border-top: 1px solid #e7e4de;
}
/*.xxxx input{
    height: 15px;
    width: 15px;
    border: 1px solid #e7e4de;
    background-color: #faf8f5;
}*/

.xxxx div{
    width:16px;
    height: 16px;
    line-height: 16px;
    vertical-align: middle;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border: 1px solid #d2c9b6;
    margin-top:19px;
}
.xxxx .selected{
    background-color: #e11f26;
    border: none;
}
.confirm_div{
    width: 100%;
    padding: 10px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.confirm_div div{
    border: 1px solid black;
}
.again_userinfo_wrap{
    width:100%;
    height: 58px;
    line-height: 58px;
    background-color: #463417;
    margin-top:10px;
    margin-bottom:10px ;
}
.again_userinfo_left{
    color: #ffffff;
    padding-left:10px ;
    vertical-align: middle;
}
.again_userinfo_left .userinfox{
    font-size: 12px;
    filter:alpha(opacity=70); /*IE滤镜，透明度50%*/
    -moz-opacity:0.7; /*Firefox私有，透明度50%*/
    opacity:0.7;/*其他，透明度50%*/
}
.again_userinfo_left .userinfoxx{
    font-size: 18px;
    padding-left:5px ;
}
.again_userinfo_right{
    float: right;
    padding-top: 17px;
    padding-right: 10px;
}
.again_name{
    width: 100%;
    height: 45px;
    line-height: 45px;
    background-color: #ffffff;
    border-top: 1px solid #e7e4de;
    color: #7f735a;
    font-size: 15px;
}
.again_name span{
    vertical-align: middle;
    padding-left:10px ;
}
.again_all_wrap{
    width: 100%;
    height: 90px;
    background-color: #ffffff;
    border-top: 1px solid #e7e4de;
    border-bottom: 1px solid #e7e4de;
}
.again_all_wrap .again_all{
    width: 100%;
    height: 100%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    padding: 15px 10px 15px 10px;
}
.again_all img{
    width: 60px;
    height: 60px;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    position: absolute;
}
.again_all .again_all_top{
    height: 40px;
    width: 100%;
}
.again_all .again_all_bottom{
    height: 20px;
    width: 100%;
}
.again_all_top_left{
    height: 100%;
    width: 70%;
    float: left;
}
.again_all_top_right{
    height: 100%;
    width: 30%;
    float: right;
    text-align: right;
}
.again_all_top_right span{
    font-size: 12px;
    color: #463417;
}
.again_all_top_left span{
    font-size: 12px;
    color: #463417;
    word-break: break-all;
    word-wrap: break-word;
}
.again_all_bottom span{
    font-size: 15px;
    font-weight: bold;
    color: #e11f26;
    float: right;
}
.again_all_inner{
    width: 100%;
    position: relative;
    height: 60px;
    padding-left:70px ;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    overflow: hidden;
}
.again_order_div{
    margin-top:10px ;
    border-bottom: 1px solid #e7e4de;
}
.rule{
    width: 100%;
    margin-top: 20px;
}
.rule .rule_text{
    width: 100%;
    text-align: center;
}
.rule_text span {
    font-size: 12px;
    color: #d2c9b6;
}
.rule .rule_circle{
    width: 100%;
    height: 50px;
    margin:0 auto;
    margin-top:30px;
    text-align: center;
}
.rule_circle div img{
    width: 269px;
    height: 50px;
}
.again_bottom_btn{
    width: 100%;
    height: 49px;
    position: fixed;
    bottom: 0px;
    background-color: #e11f26;
    color: #ffffff;
}
.again_bottom_btn .bottom_btn_left{
    height: 49px;
    line-height: 49px;
    width: 70%;
    background-color: #e7e4de;
    float: left;
}
.bottom_btn_left_m{
    font-size: 12px;
    color: #7f735a;
    padding-left: 10px;
}
.bottom_btn_left_v{
    font-size: 18px;
    color: #e11f26;
    font-weight: bold;
}
.again_bottom_btn .bottom_btn_right{
    height: 49px;
    line-height: 49px;
    margin:0 auto;
    width: 30%;
    float: right;
    font-size: 18px;
    color: #ffffff;
    vertical-align: bottom;
    text-align: center;
}

@media screen and (max-height:480px) {
    .price_wrap{
        width: 100%;
        height: 30px;
        padding-top:3px;
        text-align: center;
        box-sizing:border-box;
        -moz-box-sizing:border-box;
        -webkit-box-sizing:border-box;
        font-size: 18px;
        color: #463417;
    }

    .rule{
        width: 100%;
        margin-top: 2px;
    }
    .rule .rule_text{
        width: 100%;
        text-align: center;
    }
    .rule_text span {
        font-size: 12px;
        color: #d2c9b6;
    }
    .rule .rule_circle{
        width: 100%;
        height: 50px;
        margin:0 auto;
        margin-top:3px;
        text-align: center;
    }
    .rule_circle div img{
        width: 242px;
        height: 45px;
    }
}
/*background-color: #e7e4de;*/
/*box-sizing: border-box;*/
