<!DOCTYPE HTML>
<html lang="zh_CN">
<head>
	<meta charset="gb2312">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<title>拍拍网-拍便宜</title>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
    <link  rel="stylesheet" href="../css/takeCheap/index.css" /><!--[if !IE]>|xGv00|b6006199d7239e6efff50e96bd286b38<![endif]-->
</head>
<body ontouchstart="" class="catfixed">
	 <section id="__newsapp_container" style="display: none !important">
		<div id="__newsapp_sharetext"></div><!--微博正文，分享连接若有同放这里-->
		<div id="__newsapp_sharephotourl"></div><!--微博图片连接--><!--qq--><!--网易微博--><!--renrenwang--><!--qq空间-->
		<div id="__newsapp_sharewxtitle"></div><!--微信标题-->
		<div id="__newsapp_sharewxtext"></div><!--微信摘要-->
		<div id="__newsapp_sharewxurl"></div><!--微信分享连接--><!--分享连接的下载地址-->
		<div id="__newsapp_sharewxthumburl"></div><!--微信缩略图连接--><!--易信-->
	</section>
	<!--Banner-->
	<div id="mod_banner" class="mod_banner" style="display:none">
		<a href="#" class="mod_banner_lk">
			<img class="mod_banner_img" alt="">
		</a>
		<span class="mod_banner_close" onclick="$('#mod_banner').hide();"></span>
	</div>
	<div id="mod_cat" class="mod_cat mod_cat_fixed">
		<div class="mod_cat_list">
			<a href="javascript:void(0);" data-cat="all" data-tagid="7" class="mod_cat_item mod_cat_all mod_cat_cur">全部</a>
			<a href="javascript:void(0);" data-cat="1" data-tagid="8" class="mod_cat_item mod_cat_food">美食</a>
			<a href="javascript:void(0);" data-cat="2" data-tagid="9" class="mod_cat_item mod_cat_cos" style="border-right: 0px;">美妆</a>
			<a href="javascript:void(0);" data-cat="3" data-tagid="10" class="mod_cat_item mod_cat_dress">服饰</a>
			<a href="javascript:void(0);" data-cat="4" data-tagid="11" class="mod_cat_item mod_cat_digital">数码</a>
			<a href="javascript:void(0);" data-cat="5" data-tagid="12" class="mod_cat_item mod_cat_life" style="border-right: 0px;">生活</a>
		</div>
	</div>
	<a id="mod_qqbacktop" class="mod_qqbacktop" href="javascript:void(0);" style="display:none;"></a>
	
	<!--初次进入提示 B-->
	<div id="mod_mask" class="mod_mask" style="display:none"></div>
	<div id="tips" class="entertips entertips_1">
		<!-- 通过entertips_1/entertips_2/entertips_3 分别控制3个提示 -->
		<span class="entertips_ju"></span>
		<span class="entertips_tuan"></span>
		<span class="entertips_shangou"></span>
		<span class="entertips_order"></span>
		<a class="entertips_order_btn" href="javascript:void(0);"></a>
	</div>
	<!--初次进入提示 E-->
	
	<!-- S 拼团横幅 tuan banner = tb  -->
	<div id="tb_list" class="tb tb_list" style="display:none">
	</div>
	<!-- E 拼团横幅 tuan banner = tb  -->
	<!--Loading B-->
	<div id="ld_mask" class="pt_loading" style="display:block;"></div>
	<!--Loading E-->
	<!-- S 1111广告列表 -->
	<!-- E 1111广告列表 -->
	
	<!--加载出错提示B-->
	<div id="no_all_items" class="tuan_none" style="display:none">小拍正在紧张补货，
		<br>敬请期待下一期的拍便宜！
		<br><a href="http://app.paipai.com/polyBoutique/index.html?_wv=1">去逛逛&gt;&gt;</a>
	</div>
	<div id="no_cat_items" class="tuan_none" style="display:none">该分类商品已售光啦，
		<br>您可以<a href="javascript:void(0);" onclick="showCatItem('all','',true);">查看更多&gt;&gt;</a>
	</div>
	<!--加载出错提示E-->
	
	<div id="tuan" class="tuan" style="padding-top:10px;"></div>
	<script id="template_tuan" type="text/plain">
	<%for(var i=0;i<data.length;i++){%>
		<%if(data[i]){%>
			<div class="tuan_g" data-id="<%=data[i].comodityId%>" data-num="<%=data[i].activeNum%>" data-cat="<%=data[i].cat%>" data-tuanvnum="<%=data[i].leastPeopNum%>" id="comd_<%=data[i].comodityId%>"><a href="javascript:void(0);" class="tuan_g_img"><img data-src="<%=data[i].comoditySmallPicUrl%>" alt="" src=""><span class="tuan_mark tuan_mark2"><b><%=data[i].discount%>折</b><span>成团</span></span></a><div class="tuan_g_info"><p class="tuan_g_name"><%=data[i].comodityShortName%></p><p class="tuan_g_cx"><%=data[i].comodityDesc%></p></div><a href="javascript:void(0);" class="tuan_g_core"><div class="tuan_g_price"><span><%=data[i].leastPeopNum%>人团</span><b>&yen;<%=data[i].activePrice%></b></div><div class="tuan_g_btn">去开团</div></a><div class="tuan_g_mprice">市场价：<del>&yen;<%=data[i].marketPrice%></del></div></div>
		<%}%>
	<%}%>
	</script>
	<a href="http://mp.weixin.qq.com/s?__biz=MjM5MTI5NjI2MA==&mid=200860965&idx=1&sn=0608e210f97905d61f6b446daf098ff7&ptag=20400.1.17#rd" class="follow" id="pp_wechat" style="display:none;">
		<div class="follow_txt">
			<h3>拍拍网公众号</h3>
			<p>热门活动推荐\订单查询</p>
		</div>
		<div class="follow_btn "><i></i><span>关注公众号</span></div>
	</a>
	<div class="mod_footer" id="pp_footer_logo" style="display:none;">
		<div class="mod_footer_logo">
			<span class="mod_logo"></span>
		</div>
	</div>
	<script type="text/javascript" src="http://static.paipaiimg.com/paipai_h5/js/ttj/zepto.min.js"></script>
	<script type="text/javascript" src="http://static.paipaiimg.com/paipai_h5/js/ttj/zepto-fx.js"></script>
	<script type="text/javascript" src="http://static.paipaiimg.com/paipai_h5/js/ttj/zepto-selector.js"></script>
	<script type="text/javascript" src="http://static.paipaiimg.com/paipai_h5/js/ttj/headroom-0.7.0.min.js"></script>
	<script type="text/javascript" src="../js/takeCheap/shareapi.js"></script>
	<script type="text/javascript">
	function $returnCode(cfg) {//返回码组件
		var codeType = {
				success : 1,
				error : 2,
				logicError : 3
			},
			_cfg = {
				url : '', 
				freq : 1, 
				uin : $getUin(),
				timeout : 6000, 
				timeoutCode : '444', 
				formatUrl : true, 
				isReport : false 
			},
			sTime = new Date(),
			task,
			_guid = (new Date()).getTime();
		$extend(_cfg, cfg);
		function _report(code, type) {
			if (_cfg.isReport) {
				return;
			}
			_cfg.isReport = true;
			var eTime = new Date(),
				domain = _cfg.url.replace(/^.*\/\//, '').replace(/\/.*/, ''),
				cgi = encodeURIComponent(_cfg.formatUrl? _cfg.url.match(/^[\w|/|.|:|-]*/)[0] : _cfg.url), //CGI
				time = eTime - sTime,
				rate = _cfg.freq,
				uin = _cfg.uin, 
				reportParam = [
					'domain=' + domain,
					'cgi=' + cgi,
					'type=' + type,
					'code=' + code,
					'time=' + time,
					'rate=' + rate,
					'uin=' + uin
				],
				reportUrl = 'http://c.isdspeed.qq.com/code.cgi?' + reportParam.join('&') + '&t=' + Math.random();
			if (reportUrl && Math.random() < (1 / rate)) {
				try {
					var _rName = '_RETURNCODE' + _guid++;
					window[_rName] = new Image();
					window[_rName].src = reportUrl;
				}
				catch(e) {}
			}
		}
		task = setTimeout(function() {
			_report(_cfg.timeoutCode, codeType.error);
		}, _cfg.timeout);
		return {
			report : function(code, type) {
				var _type;
				switch (type) {
					case true : 
						_type = codeType.success;
						break;
					case false : 
						_type = codeType.error;
						break;
					default : 
						_type = type;
						break;
				}
				_report(code, _type);
				clearTimeout(task);
			},
			success: codeType.success,
			error: codeType.error,
			logicError: codeType.logicError
		}
	}
	function $extend(){
		var target = arguments[0] || {}, i = 1, length = arguments.length, options;
		if ( typeof target != "object" && typeof target != "function" )
			target = {};
		for ( ; i < length; i++ )
			if ( (options = arguments[ i ]) != null )
				for ( var name in options ) {
					var copy = options[ name ];
					if ( target === copy )
						continue;
					if ( copy !== undefined )
						target[ name ] = copy;
				}
		return target;
	};
	function $getUin(){
		var uin=gCookie("uin")||gCookie('p_uin')||gCookie('pt2gguin')||gCookie('buy_uin');
		return uin?parseInt(uin.replace("o",""),10):"";
	}
	function wyShare(options){
		if(navigator.userAgent.indexOf("NewsApp")<0){
			return;
		}
		var my = arguments.callee,
		$section = $("#__newsapp_container"),
		wyScriptUrl = "http://img3.cache.netease.com/utf8/3g/libs/NewsAppClient.js?"+(new Date().getTime()),
		tpl = [
				'<div id="__newsapp_sharetext">{text}{linkUrl}</div>',
				'<div id="__newsapp_sharephotourl">{photoUrl}</div>',
				'<div id="__newsapp_sharewxtitle">{title}</div>',			
				'<div id="__newsapp_sharewxurl">{linkUrl}</div>',
				'<div id="__newsapp_sharewxtext">{text}</div>',
				'<div id="__newsapp_sharewxthumburl">{photoUrl}</div>'
			].join(""),
		defaultOptions = {
			title : "标题",
			linkUrl   : "",
			photoUrl : "",
			text     : "",
			success : function(){},
			failed  : function(){} 
		};
		$.extend(defaultOptions,options);
		var newTpl = tpl.replace(/\{([^\}]+)\}/g,function(all,$1){
				return defaultOptions[$1];
			});	
		$section.html(newTpl);
		if(my.isCreate){
			options.isFire
			&&NewsAppClient.share({
				success : defaultOptions.success,
				failed  : defaultOptions.failed
			});

		}else{
			$('<script>')
				.appendTo(document.body)
				.bind("load",function(){
					if(!window["NewsAppClient"]){
						return;
					}
					my.isCreate = true;
					
					options.isFire
					&&NewsAppClient.share({
						success : defaultOptions.success,
						failed  : defaultOptions.failed
					});
				})
				.bind("error",function(){
				})
				.attr("src",wyScriptUrl);
		}
	}
	</script>
	<script type="text/javascript">
	/*全局变量*/
	var arrImgsEle;//保存图片对象列表
	var arrItemsEle;//商品对象列表	
	var PREL_OFFSET = 620;//预加载的上下offset范围
	var SCR_TOP_CK	= '_ppy_scrolly_top_pos';//cookie Key
	var CUR_CAT_CK = '_ppy_cat_id';
	var IS_WECHAT = (window.navigator.userAgent.toLowerCase().match(/micromessenger/i) == 'micromessenger') ? true : false;
	var CAT_HEIGHT = $('#mod_cat').height();
	try {
        var ACTIVE_ID = 31628;//idc,gamma=>31628
	} catch(e) {}
	if(typeof ACTIVE_ID == undefined || $.trim(ACTIVE_ID) == ''){
		var ACTIVE_ID = 31628;//idc,gamma=>31628
	}
	/*公共函数*/
	//出错定义
	(function() {
		var defe = window.onerror;
		window.onerror = function(e) {
			if (typeof defe == 'function') {
				defe.apply(null, arguments);
			}
			if (console && console.error) {
				console.error(arguments);
			}
		}
	})();
	//Cookie处理
	var gCookie = function (name) {
		var reg = new RegExp("(^| )" + name + "(?:=([^;]*))?(;|$)"),
			val = document.cookie.match(reg);
		return val ? (val[2] ? unescape(val[2]) : "") : null;
	};
	var sCookie = function (name, value, expires, path, domain, secure) {
		var exp = new Date(),
			expires = arguments[2] || null,
			path = arguments[3] || "/",
			domain = arguments[4] || null,
			secure = arguments[5] || false;
		expires ? exp.setMinutes(exp.getMinutes() + parseInt(expires)) : "";
		document.cookie = name + '=' + escape(value) + (expires ? ';   expires=' + exp.toGMTString() : '') + (path ? ';   path=' + path : '') + (domain ? '; domain=' + domain : '') + (secure ? '; secure' : '');
	};
	//模板渲染
	var template = function(tpl,data) {
		var str = tpl.html();
		var _formatJson_cache = {};
		var fn = _formatJson_cache[str] ||
			new Function("obj",
				"var p=[],print=function(){p.push.apply(p,arguments);};" +
				"with(obj){p.push('" + str
				.replace(/[\r\t\n]/g, " ")
				.split("<%").join("\t")
				.replace(/((^|%>)[^\t]*)'/g, "$1\r")
				.replace(/\t=(.*?)%>/g, "',$1,'")
				.split("\t").join("');")
				.split("%>").join("p.push('")
				.split("\r").join("\\'") + "');}return p.join('');");
		return data ? fn(data) : fn;
	};
   	/*页面函数*/
	//检查是否首次访问
	var checkFirstView = function(){
		//初次进入判断

		if (!gCookie('first_flag')) {
            sCookie('first_flag', '1', 525600, "/");//6天左右
//			var num=0;
//			$('body').addClass('firstview');
//			$('#mod_mask').css('display','block');
//			//提示层的操作绑定
//			$('#mod_mask,#tips > span').on('click',function (e) {
//				if (num == 1) return;
//				if (num == 0) {
//					$('#tips').removeClass('entertips entertips_1');
//					$('#tips').addClass('entertips entertips_2');
//					num++;
//				} else if (num == 1) {
//					$('#tips').removeClass('entertips entertips_2');
//					$('#tips').addClass('entertips entertips_3');
//					num++;
//				} else if (num == 2) {
//					$('#tips').removeClass('entertips entertips_3');
//					$('#tips').addClass('entertips entertips_4');
//					num++;
//				}
//			});
//			$('.entertips_order_btn').on('click',function (e) {
//				sCookie('first_flag', '1', 525600, "/");//6天左右
//				$('body').removeClass('firstview');
//				$('#mod_mask').css('display','none');
//				$('#tb_list').css('display','');
//			});
		}
	};
	//点击广告的banner，只显示大V团的商品
	$("#tb_list").on("click", function(){
		$("#tuan").children(".tuan_g").each(function(){
			var num = $(this).data("tuanvnum");
			if(!num || num<=0){
				$(this).hide();
			}
		})
	})
	//延时加载图片--刷新未显示图片
	var showImg = function (top){
		if(!arrImgsEle || 0 == arrImgsEle.length){//无素材或商品图片
			return;
		}
		var iTop = top || $(window).scrollTop();
		var img,
			offsets,
			bottom;
		//加载图片的img顶部最小值
		var iMinTop = Math.max(iTop-PREL_OFFSET,0);
		//底部最大值
		var iMaxTop = iTop + $(window).height() + PREL_OFFSET;
		var tmp=[];
		$.each(arrImgsEle,function(idx,img){
			if(img.getAttribute('src')){//已显示
				return;
			}
			offsets = $(img).offset();
			//图片底部坐标
			bottom = offsets.top + offsets.height;
			if($(img).parent().parent().css('display') == 'none' || bottom < iMinTop || offsets.top > iMaxTop){
				//不在显示范围或隐藏-保存下次继续
				tmp.push(img);
				return;
			}
			img.setAttribute('src',img.getAttribute('data-src'));
		});
		arrImgsEle=tmp;
	};
	//页面事件
	var initCommonEvt = function(){
		//目录项事件绑定
		$('.mod_cat_item').on('click',function(){
			showCatItem($(this).data('cat'),'',true);
			try{
				$countRDV2("20400.1."+$(this).data('tagid'));
			}catch(e){}
		});
		//绑定商品点击
		$('#tuan').on('click','.tuan_g',function (e) {
			if($(this).length > 0){
				$('#tuan').css('display','none');//隐藏数据
				$('#tb_list').css('display','none');//隐藏参团条
				$('#plist').css('display','none');//隐藏广告
				$('#pp_wechat').css('display','none');
				$('#pp_footer_logo').css('display','none');
				$('#no_all_items').css('display','none');
				showBusy();
				try{
					$countRDV2("20400.1.1");
				}catch(e){}
				sCookie(SCR_TOP_CK,$(this).attr('data-id'));//返回时定位用activeNum=' + $(this).data('num') + '&
				window.location.href = 'tuan_detail.html?comodityId=' + $(this).attr('data-id') + '&_wv=1';
			} else {
				showBusy(false);
				return;
			}
		});
		//绑定广告点击
		$('#plist').on('click','.plist_item',function(e){
			if ($(this).length>0) {
				$('#tuan').css('display','none');//隐藏数据
				$('#tb_list').css('display','none');//隐藏参团条
				$('#plist').css('display','none');//隐藏广告
				$('#pp_wechat').css('display','none');
				$('#pp_footer_logo').css('display','none');
				showBusy();
				sCookie(SCR_TOP_CK,$(this).attr('data-id'));//返回时定位用
				window.location.href = $(this).prop('href');
			} else {
				return;
			}
		});
		//返回顶部
		$('#mod_qqbacktop').on('click', function (e) {
			$(window).scrollTop(0);
			$('#mod_qqbacktop').css('display','none');
		});
	};
	//滚动事件绑定
	var initScrollEvt = function(){
		var scroll_delay = 100;//0.1s
		var scroll_timeout = null;
		var show_backtotop_pos = 124;
		$(window).on('scroll', function(e){
			var curScrollTop = $(window).scrollTop();
			clearTimeout(scroll_timeout);
			scroll_timeout = setTimeout(function(){
				var timeoutScrollTop = $(window).scrollTop();
				if(timeoutScrollTop >= show_backtotop_pos){
					$('#mod_qqbacktop').css('display','');
				}else{
					$('#mod_qqbacktop').css('display','none');
				}
				showImg(timeoutScrollTop);
			},scroll_delay);
		});
		var cat_obj = document.getElementById('mod_cat');
		var headroom = new Headroom(cat_obj,{
			"tolerance": 5,
			"offset": 100,
			"classes": {
				"initial": "mod_cat_fixed",
				"pinned": "mod_cat_down",
				"unpinned": "mod_cat_up",
				"top" : "mod_cat_top",
				"notTop" : "mod_cat_not_top"
			}
		});
		headroom.init();
		if($(window).scrollTop() >= show_backtotop_pos){//初始化
			$('#mod_qqbacktop').css('display','');
		}
	}
	//显示/隐藏数据处理中
	var showBusy = function (flag){
		var b=(typeof flag == 'undefined') || !!flag;
		$('#no_cat_items').css('display','none');
		$('#ld_mask').css('display',b?'block':'none');
		$('#tuan').css('display',b?'none':'block');
	};
	//滚动至商品
	var scrollToItem = function (posId){
		if(posId){
			var item = $('#comd_'+posId);
			if(item.length > 0){
				$(window).scrollTop(item.offset().top-CAT_HEIGHT-6);
			}
		}
	}
	//显示某一分类的商品
	var showCatItem = function(catId,posId,isClick){
		catId = ($.trim(catId) == '' || $.trim(catId) == 'all') ? 'all' : catId;
		//菜单样式更新
		$('.mod_cat_item[data-cat="'+catId+'"]').addClass('mod_cat_cur').siblings().removeClass('mod_cat_cur');
		sCookie(CUR_CAT_CK,catId);//更新cookie
		if(catId == 'all'){//全部商品或首次载入
			$('#tb_list').css('display','');//显示横幅
			if(isClick){//点击菜单
				$('#no_cat_items').css('display','none');
				$(window).scrollTop(0);//回顶部
				$('#plist,#tuan').animate({
					opacity: 0.2
				},{
					duration:400,
					complete:function(){
						$('#plist').css('display','');//显示广告
						arrItemsEle.filter(':hidden').css('display','');//全部显示
						showImg(0);
						$('#plist,#tuan').css('opacity',1);
					}
				},'ease-out');
			}else{//页面返回或载入
				$('#no_cat_items').css('display','none');
				$('#plist').css('display','');
				arrItemsEle.filter(':hidden').css('display','');//全部显示
				setTimeout(function(){
					scrollToItem(posId);
					showImg();
					initScrollEvt();
				},100);
			}
		}else{//子类商品
			$('#tb_list').css('display','none');//隐藏横幅
			$('#plist').css('display','none');//隐藏广告
			if(isClick){//点击菜单
				$(window).scrollTop(0);
				$('#tuan').animate({
					opacity: 0.2
				},{
					duration:400,
					complete:function(){
						var catItems = arrItemsEle.filter('[data-cat="'+catId+'"]');
						if(catItems.length > 0){
							$('#no_cat_items').css('display','none');
							catItems.filter(':hidden').css('display','');
							arrItemsEle.filter(':not([data-cat="'+catId+'"]):visible').css('display','none');
							showImg(0);
						}else{//无商品
							arrItemsEle.filter(':visible').css('display','none')
							if($('#no_all_items').css('display')=='none'){
								$('#no_cat_items').css('display','');
							}
						}
						$('#tuan').css('opacity',1);
					}
				},'ease-out');
			}else{//页面返回或载入
				$('#no_cat_items').css('display','none');
				arrItemsEle.filter('[data-cat="'+catId+'"]:hidden').css('display','');
				arrItemsEle.filter(':not([data-cat="'+catId+'"]):visible').css('display','none');
				setTimeout(function(){
					scrollToItem(posId);
					showImg();
					initScrollEvt();
				},100);
			}
		}
	};
	//商品数据拉取及渲染
	var getItemData = function(){
		var MAX_RETRIVE = 3,//最大请求次数，包含第一次
			RETRI_TIMO 	= 5000,//数据接口请求超时时间
			strDurl = 'http://opr.paipai.com/mart/activeshow?ids=' + ACTIVE_ID + '&pcs=128&sort=1';//idc=>35674,gamma=>31628;pcs=>页面取总数
		var iRetry	= 0;//已尝试加载的次数，允许0、1、2
		var bLoadSuc= false;//是否加载成功
		var ih = 0;//计时器
		var stopInterval = function () {//停止计时
			if (ih > 0) {
				clearInterval(ih);
				ih = 0;
			}
		};
		//显示/隐藏错误提示
		var showErr = function (flag){
			var b=(typeof flag == 'undefined') || !!flag;
			$('#no_cat_items').css('display','none');
			$('#no_all_items').css('display',b?'block':'none');
			$('#tuan').css('display',b?'none':'block');
		};
		//对加载的数据进行格式化
		var process_data =function (dat){
			var ret=[];
			var vecAreas,area;
			var curD=new Date();
			var curTime=Math.floor(curD.getTime()/1000);
			if(dat && 0==dat.errCode && dat.data.length>0 && (vecAreas=dat.data[0].vecAreas)){
				for(var i=0,il=vecAreas.length;i<il;i++){
					area=vecAreas[i];		
					//根据产品需求结束时间需要减去24小时---2014/10/27--heinzjin(p_jddqjin)提供
					area.dwEndTime -= 24 * 3600;
					if(area.dwBeginTime>curTime || area.dwEndTime<curTime || !area.vecTabs){//过期数据或空数据
						continue;
					}
					$.each(area.vecTabs,function(idx,itm){
						var cat_id = (itm.mapExt && itm.mapExt.ext3_colormark!=undefined) ? itm.mapExt.ext3_colormark : '';
						ret.push({
							'areaBgAt':area.dwBeginTime	,//当期开始时间
							'areaId':area.dwAreaId,//期数
							'ordNo':itm.dwOrderNum>0?itm.dwOrderNum:Number.MAX_VALUE,//排序字段为0的说明未做设置，默认拍到最后
							'comodityId':itm.strCommodityId,			
							'activeNum':area.dwAreaId,//期数
							'activePrice':(parseFloat(itm.dwActivePrice) / 100).toFixed(2),//活动价
							'marketPrice':(parseFloat(itm.dwMarketPrice) / 100).toFixed(2),
							'comoditySmallPicUrl':(itm.mapCustomData.uploadPicUrl1 || itm.mapCustomData.uploadPicUrl2 || itm.mapCustomData.uploadPicUrl3),//?
							'comodityShortName':itm.mapExt.recmdRegName,//?
							'comodityDesc':itm.mapCustomData.itemExtValue1,//?
							'leastPeopNum':String(itm.mapCustomData.itemExtValue2).match(/(\d+)/g)[0],//2|20|1000|500   (成团人数|大V团人数|大V团价格|大V团优惠价)
							'discount':itm.dwMarketPrice > 0 ? (parseFloat(itm.dwActivePrice) * 10 / parseFloat(itm.dwMarketPrice)).toFixed(1) : 0.01,
							'cat': cat_id
						});
					});
				}
			}else{
				var rCode=(dat && dat.errCode)?dat.errCode:0;
				retCode.report(rCode, 3);//接口返回失败
			}
			if(ret.length>0){
				//排序--按照所在期开始时间，最新开始的排在最前。同一期内根据dwOrderNum升序排列，dwOrderNum为0的放到最后
				ret.sort(function(a,b){
					if(a.areaBgAt!=b.areaBgAt){
						return b.areaBgAt-a.areaBgAt;
					}else{
						return a.ordNo-b.ordNo;
					}
				});
			}
			return ret;
		};
		//设置分享初始数值
		var setShareInfo = function (){
			shareApi({
				"url":window.location.href,
				"qq_title":"一起买，更省钱！",
				"qzone_title":"【拍拍-拍便宜】一起买，更省钱！",
				"wechat_title":"一起买，更省钱！",
				"wechat_time_title":"一起买，更省钱 -【拍拍-拍便宜】专供商品，邀请好友，一起抄底！",
				"wechat_desc":"【拍拍-拍便宜】专供商品，邀请好友，一起抄底！",
				"qq_desc":"【拍拍-拍便宜】专供商品，邀请好友，一起抄底！",
				"qzone_desc":"好友一起买，享受更低价！快去邀请好友，一起抄底！",
				"img":"http://static.paipaiimg.com/v5/img/init_img.png",
				"ptag":{ 
				w2w:"20400.5.3", //微信分享至微信好友
				w2t:"20400.5.4", //微信分享至朋友圈
				//w2b:"",		//微信分享至腾讯微博,如果没有，可不传
				//w2e:"",		//微信发送邮件，如果没有，可不传
				q2q:"20400.5.1", //手Q分享至QQ好友或群
				q2z:"20400.5.2", //手Q分享至QQ空间
				q2w:"20400.5.3", //手Q分享至微信好友
				q2t:"20400.5.4"  //手Q分享至朋友圈
				}
			});
			wyShare({
				title    : "【拍拍-拍便宜】",
				linkUrl  : window.location.href,
				photoUrl : "http://static.paipaiimg.com/v5/img/init_img.png",
				text     : "一起买，更省钱！快来拍便宜吧！"
			});
		};
		//设置商品列表数据
		var setListData = function (data) {
			var il,
				i=0,
				tuanHtml='';
			if(data && data.length>0){
				tuanHtml = template($('#template_tuan'),{data:data});
			}
			if(IS_WECHAT){
				tuanHtml += '<div class="wxblank"><span>还没逛够？剧透一下，明日商品更劲爆哦！</span></div>';
			}else{
				tuanHtml += '<div class="blank2"><span>还没逛够？剧透一下，明日商品更劲爆哦！</span></div>';
			}
			$('#tuan').append(tuanHtml);
			arrImgsEle = $('#plist,#tuan').find('img');
			arrItemsEle = $('#tuan>.tuan_g');
		};
		//初始化图片及位置
		var initPageState = function (){
			var lastCat = $.trim(gCookie(CUR_CAT_CK));
			var posId = $.trim(gCookie(SCR_TOP_CK));
			sCookie(SCR_TOP_CK,'');
			showCatItem(lastCat,posId);
		};
		//加载数据
		window.retCode=$returnCode({url:strDurl});
		var loadData = function () {
			if (iRetry == MAX_RETRIVE) {
				//加载超过重复次数
				stopInterval();
				showBusy(false);
				showErr(true);
				retCode.report(2, false);//重试失败
			}
			$.ajax({
				type: 'GET',
				url: strDurl,
				dataType: 'jsonp',
				success: function(data){
					stopInterval();
					if(bLoadSuc){//避免多次填充
						return;
					}
					bLoadSuc = true;
					iRetry	 = 0;
					var data_arr = process_data(data);
					showBusy(false);
					if (data_arr.length > 0) {
						setShareInfo();
						setListData(data_arr);//填充Dom
						initCommonEvt();
						initPageState();//初始化图片及位置
						retCode.report(1, true);//加载成功
					} else {
						showErr();
						retCode.report(2, true);//数据为空
					}
					showFooter();
				},
				error: function(){
					stopInterval();
					showBusy(false);
					showErr(true);
					initCommonEvt();
					showFooter();
					retCode.report(1, false);//请求失败
				}
			});
		}
		//用计时器来定时查看是否请求成功
		loadData();
		ih = setInterval(function() {
			iRetry++;//每个计时器内次数+1
			loadData();
		}, RETRI_TIMO);
	};
	//页脚控制
	var showFooter = function(){
		if(IS_WECHAT){//wechat
			$('#pp_wechat').css('display','');
		}
		$('#pp_footer_logo').css('display','');
	};

    /**
     * 埋点开始
     * */
    var  url_param = {};
     var points = {
        upPv:"http://app.paipai.com/api/bi/upPv.xhtml",
        ptag:["20381.56.1","20381.56.2","20381.56.3"]
    }
    var getParams = function(){
        var url = location.href;
        if (url.indexOf("appToken") != -1) {
            var str = url.substr(url.indexOf("appToken") );
            sessionStorage["pointParam"]=str;
            var strs = str.split("&");
            for (var i = 0; i < strs.length; i++) {
                url_param[strs[i].split("=")[0]] = decodeURI(strs[i].split("=")[1]);
            }
        }
    }
    var getPoint = function(pv_ptag,ptag,click_p){
        var refer = document.referrer;
        var param = "";
        var page_name = location.origin+location.pathname;
        var launchType=sessionStorage["ppy_tuan_list_launchType"]?"back":"new";
        sessionStorage["ppy_tuan_list_launchType"]="1";
        var devicetime =  (new Date()).valueOf();
        var  isHttp = "",
                duration = "",
                pageParam = "",
                rawPvid = url_param["mk"]+"|"+devicetime+"|"+Math.floor(Math.random()*10),
                dap="";
        if(sessionStorage["ppy_ptag"]&&sessionStorage["ppy_ptag"]!=""&&sessionStorage["ppy_ptag"]!=null){
            pageParam = "ptag="+sessionStorage["ppy_ptag"]+"&launchType="+launchType;
        }else{
            pageParam = "launchType="+launchType;
        }
		if(pv_ptag=="ptag"){
			sessionStorage["ppy_ptag"]=ptag;
		}
        refer=pv_ptag=="pv"?document.referrer:"";
        ptag = pv_ptag=="pv"?"":ptag;
        click_p = pv_ptag=="pv"?"":click_p;
        param= {
            content:devicetime+"|||"+page_name+"|||"+isHttp+"|||"+duration+"|||"+pageParam+"|||"+ptag+"|||"+click_p+"|||"+refer+"|||"+rawPvid+"|||"+dap
        };

        for(var key in url_param){
            param[key] = url_param[key];
        }
        $.ajax({
            url: points.upPv,
            type: 'GET',
            data :param,
            dataType: 'json',
            timeout:15000,
            success: function(data) {
            }
        });
    };
    var pointReport = function(pv_ptag,ptag,click_p){
		getPoint(pv_ptag,ptag,click_p);
    };
    /**
     * 埋点结束
     * */

	//全局调用
	var initPage = (function(){
		checkFirstView();//首次加载检测
		getItemData();//异步获取商品数据
        getParams();
        pointReport("pv","","");

        $(".mod_cat_item").on("click",function(){
            pointReport("ptag",points.ptag[0],"type="+$(this).text());
        });

        $('#tuan').on('click','.tuan_g',function (e) {
            pointReport("ptag",points.ptag[1],"type="+$(".mod_cat_cur").text());
        });
	})();
	</script>
	<script src="http://static.gtimg.com/js/version/2014/09/ecc.cloud.ppmobilereport.20140905.js?t=201409091150" type="text/javascript"></script>
</body>
</html>