body, div, p, h1, h2, h3, em, span, a, td, form, input, select, textarea{ margin:0; padding:0; font-size:14px; line-height:1.8; font-style:normal; }
h2, h3, em, strong{ font-weight:bold; }
a img{ border:none; }
img{vertical-align:text-bottom;}
a{ color:#2c53a8; text-decoration:none; }
input, select, textarea{ vertical-align:middle; }
body{ color:#333}

.qb_c_gray{color:#999}
.qb_c_black{color:#333}
.qb_c_purple{color:#9844a2;}
.qb_c_orange{color:#f0753a;}
.qb_c_yellow{color:#d4b014;}
.qb_c_cyan{color:#1c9f96;}
.qb_c_blue{color:#317ee7;}
.qb_c_red{color:#d70000;}
.qb_bg_cyan{background:#1c9f96;color:#FFF;}
.qb_bg_orange{background:#f0753a;color:#FFF;}
.qb_bg_blue{background:#317ee7;color:#FFF;}
.qb_bg_red{background:#D70000;color:#FFF;}
.qb_bg_red a{color:#FFF;}
.qb_bg_gray{background:#EDEDED;}
.qb_bg_yellow{background:#FDFDBD;}
.qb_tac{text-align:center;}
.qb_tar{text-align:right;}
.qb_gap{padding-left:10px;padding-right:10px;margin-bottom:10px;}
.qb_fwb{font-weight:bold;}
.qb_p5{padding:5px;}
.qb_pt10{padding-top:10px;}
.qb_ptb10{padding-top:10px;padding-bottom:10px;}
.qb_plr10{padding-left:10px;padding-right:10px;}
.qb_mr10{margin-right:10px;}
.qb_mb10{margin-bottom:10px;}
.qb_del{text-decoration:line-through}
.qb_btn{height: 26px; padding: 0 12px; color: white;background:#26B2C2;border:1px solid #178794}
.qb_btn_strong{height: 26px; padding: 0 12px; color: white;background: #D70000; border:1px solid #A60000;}
.qb_btn_disabled{height: 26px; padding: 0 12px; color: #999;background: #eee; border:1px solid #B5B5B5;}
.btn_l{width:210px}
.btn_m{width:100px}
.qb_tips{background:#FFF2D2;border:1px solid #FFD094;color:#FF9B2F;}
.qb_hr{border:none;border-top:1px solid #EDEDED;margin:10px 0}
.qb_hint{padding:5px;border:1px solid #A2E291;background:#F3FFE0;color:#2FA111;}
.qb_warn{padding:5px;border:1px solid #FFCF94;background:#FEF2D2;color:#D50000;}

.lay_header{padding:0 10px;}
.mod_title{background:#F1F1F1;background-color:#F1F1F1;border-bottom:1px solid #C2C2C2;padding:5px;}
.mod_tab{padding:0 10px;}
.mod_tab a{margin-right:10px;}
.mod_tab .current{background:#FFF;background-color:#FFF;color:#333;padding:3px 5px;}
