@charset "UTF-8";

* {
    -webkit-tap-highlight-color: transparent;
    outline: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline
}

body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td {
    margin: 0;
    padding: 0;
    vertical-align: baseline
}

img {
    border: 0 none;
    vertical-align: top
}

i,em {
    font-style: normal
}

ol,ul {
    list-style: none
}

input,select,button,h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
    font-family: inherit
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

a {
    text-decoration: none;
    color: #333
}
html{
    font-size: 62.5%;
}
body {
    margin: 0 auto;
    min-width: 320px;
    height: 100%;
    font-family: Helvetica, STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Arial;
    line-height: 1.5;
    -webkit-text-size-adjust: 100% !important;
    -webkit-user-select: none;
    user-select: none;
    background-color: #f7f4ef;
}

.hide,.h {
    display: none !important
}

.show {
    display: block !important
}

.clear:after {
    content: '';
    clear: both;
    display: block;
    font-size: 0
}

.kk_text {
    padding: 20px 0 10px 0;
}

.kk_text .kk_text_span{
    float:left;
    width:40%;
    text-align: center;
    position: relative;
    font-size:1.2rem;
    font-weight: normal;
    color:#463417;
    padding-top:2px ;
    bottom:1.0rem;
    vertical-align: bottom;
}

.kk_text_span img{
    width: 1.3rem;
    height: 1.3rem;
    vertical-align:sub;
    margin-right:0.3rem;
}

.kk_text hr{
    width: 30%;
    vertical-align: middle;
    margin:0px;
    height:1px;
    border:0px;
    background-color:#D5D5D5;
    color:#D5D5D5;
    float:left;
    top:15px;
}
.product_div{
    /*padding-top: 10px;*/
}
.product_list {
}

.product_list li {
    min-height: 110px;
    width:50%;
    margin-bottom: 10px;
    position: relative;
    float:left;
    display: block;
}
.product_list img{
    border: 0;
    margin: 0;
    padding: 0;
}
.product_list .product_list_a_right{
    min-height: 110px;
    display: block;
    padding-left: 5px;
}
.product_list .product_list_a_left{
    min-height: 110px;
    display: block;
    padding-right: 5px;
}
.product_list .product_list_commodity{
    border: 1px solid #dfdbd2;
    background: #FFFFFF;
    border-radius:0.5rem;
    -moz-border-radius:0.5rem;
    -webkit-border-radius:0.5rem;
}
.product_list .product_list_commodity_img{
    width: 100%;
    max-width: 100%;
    border-top-left-radius:0.5rem;
    -moz-border-top-left-radius:0.5rem;
    -webkit-border-top-left-radius:0.5rem;
    border-top-right-radius:0.5rem;
    -moz-border-top-right-radius:0.5rem;
    -webkit-border-top-right-radius:0.5rem;
}
.product_list .product_list_commodity_bottom{
    padding: 10px;
}
.product_list .product_title{
    color:#463417;
    width: 100%;
    height: 2.5rem;
    line-height:1.3rem;
    font-size:1.2rem;
    font-weight: normal;
    text-align: left;
    display: block;
    overflow:hidden;
    text-overflow:ellipsis;
    margin-bottom: 0.8rem;
}
.product_list .product_price{
    width: 100%;
    height: 1.0rem;
}
.product_list .product_price .product_price_red{
    height: 1.0rem;
    line-height:1.0rem;
    width: 44%;
    float: left;
    color:#E11F26;
    font-weight: bold;
    font-size:1.2rem;
}
.product_list .product_price .product_price_num{
    height: 1.0rem;
    line-height:1.0rem;
    text-align:center;
    width: 56%;
    float: left;
    font-weight: normal;
    color:#c8bea7;
    font-size:1rem;
}
/*
background: #F8F8F8;*/
