@charset "utf-8";
/*============================== reset ==============================*/
*{margin:0; padding:0; vertical-align:baseline; -webkit-tap-highlight-color:rgba(0,0,0,0);}
img{border:0 none;}
i,em{font-style:normal;}
ol,ul{list-style:none;}
input,img{vertical-align:middle;}
input,select{font:inherit; font-size:100%;}
a{text-decoration:none; color:#3a3a3a;}

body{
    margin:0 auto;
    min-width:320px;
    max-width:640px;
    height:100%;
    font-size:12px;
    font-family:"\5fae\8f6f\96c5\9ed1","Microsoft YaHei",Helvetica,Arial,sans-serif;
    line-height:1.5;
    color:#888;
    -webkit-text-size-adjust:100%;
    background-color:#E0E0E0;
}

.fl{float: left;}
.fr{float: right;}
.hide{display:none!important;}

/*============================== 背景 ==============================*/
.mod_bar_back:before,
.mod_bar_login:before{background-image: url(http://static.paipaiimg.com/fd/qqpai/shangou/img/icon.png);background-repeat: no-repeat;background-size: 30px;}

/*============================== 公共头 ==============================*/
.mod_bar{height: 42px;line-height: 42px;color: #fff;background: #e02428;border-bottom: 6px solid #b5272a;font-size: 14px;}
.mod_bar a{color: #fff;}
.mod_bar_back:active,
.mod_bar_login:active{background: #b5272a;}
.mod_bar_back{position: relative;padding: 0 10px 0 25px;height: 100%;display: block;float: left;}
.mod_bar_back:before{content:'';position: absolute;width: 10px;height: 15px;left: 10px;top: 14px;}
.mod_bar_crumb{float: left;padding-left: 10px;position: relative;}
.mod_bar_crumb:before{content: '';height: 12px;width: 2px;background: #fff;position: absolute;left: 0;top: 15px;}
.mod_bar_login{float: right;height: 100%;position: relative;padding: 0 10px 0 28px;}
.mod_bar_login:before{content:'';position: absolute;left: 10px;top:15px;width: 11px;height: 11px;background-position: -17px 0;}

/*===================
	banner
===================*/
.mod_banner{width:100%;position:relative;}
.mod_banner_lk{display:block;}
.mod_banner_img{width:100%;max-width:640px;overflow:hidden;}
.mod_banner_close{position:absolute;top:0px;right:0px;display:block;width:23px;height:25px;background-position:-71px -23px;}

/* 手Q临时加上头部 */
.mod_nav_my:after{background-image:url(http://static.paipaiimg.com/fd/qqpai/base/img/gb.png);background-repeat:no-repeat;-webkit-background-size: 100px 100px;background-size: 100px 100px;}
.mod_nav{height:50px;background-color:#fff;padding-right:50px;position:relative;border-top:1px solid #E0E0E0;}
.mod_nav_lk{display: box;display: -ms-box;display: -webkit-box;display: flex;display: -ms-flexbox;display: -webkit-flex;}
.mod_nav_item{display: block;flex: 1;-ms-flex: 1;-webkit-flex: 1;box-flex: 1;-ms-box-flex: 1;-webkit-box-flex: 1;text-align:center;line-height:50px;height:50px;border-bottom:2px solid #fff;font-size:16px;border-right: 1px solid #E0E0E0; -webkit-box-sizing:border-box;box-sizing:border-box;}
.mod_nav_cur{color:#DF2127;border-bottom:2px solid #DF2128;}

.mod_nav_my{position:absolute;right:0px;top:0px;display:block;width:50px;height:100%;}
.mod_nav_my:after{content:"";display:block;position: absolute;top:14px;right:14px;width:22px;height:22px;background-position:-44px -23px;}

/*===================
	手Q下的返回顶部（用于拍便宜和聚精品）
===================*/
.mod_qqbacktop{position:fixed;bottom:20px;right:20px;display:block;width:38px;height:38px;background: url('http://static.paipaiimg.com/fd/qqpai/base/img/qqbacktop.png') no-repeat;overflow:hidden;z-index:901;background-size: 38px 38px; -webkit-background-size: 38px 38px; }



/*============================== 背景 ==============================*/
.sg_g_tag,
.sg_g_desc:before,
.sg_g_time:before,
.sg_detail_rec_reason:before,
.sg_g_new,
.sg_nav_trigger:after{background-image: url(http://static.paipaiimg.com/fd/qqpai/shangou/img/spr.png);background-repeat: no-repeat;background-size: 150px;}


/*============================== 导航 ==============================*/
.mod_nav{border-bottom: 1px solid #CFCFCF;}
.sg_nav{font-size:15px;height: 36px;border-bottom: 1px solid #b3b3b3;position: relative;/*background-color:#fff;*/}

.sg_nav_list{padding-right:5px;height:36px;overflow: hidden;}
.sg_nav li{float: left;height: 100%;padding: 0 2px;position: relative;}
.sg_nav li:after{content:'';position: absolute;right: 0;top:15px;width: 1px;height: 8px;overflow: hidden;background: #d0d0d0;}
.sg_nav li:last-child:after{display: none;}
.sg_nav a{display: block;height: 20px;padding: 0 5px;margin: 8px 0;color: #888;;line-height: 20px;}
.sg_nav .on a{background: #e12228;color: #fff;border-radius: 2px;}
.sg_nav_trigger{position: absolute;width:36px;height:36px;right: 0;top: 0;overflow:hidden;z-index:2;display: none;}
.sg_nav_trigger:after{width:36px;height:36px;display:block;margin-top:0px;content:' ';background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFgAAABYCAYAAABxlTA0AAACBUlEQVR4Xu3Y0UnDYBhG4abZwEEK7iB64wJet3QDp3CDkFy7gDeKOwgO4gZN+qe0UMSSqD3Jl3KEIsTyxjw9Ckk28wsVyNB1x2cCwxEILDAsAM9bsMCwADxvwQLDAvC8BQsMC8DzFiwwLADPW7DAsAA8b8ECwwLwvAULDAvA8xYsMCwAz1uwwLAAPG/BAsMC8LwFCwwLwPMWLDAsAM9bsMCwADxvwQLDAvC8BQsMC8DzFnxpwKvVajGfz582m81DVVVf8PXt5pfL5VWe5891XT+WZfk5xDkP5xi84PV6/ZpOfpteHwn5hkbe476n812n11tRFHcXDfztglHkIc916kMbvOCjP9lDVQhyBNz2WkcBppGj4I4KTCFHwh0d+NzI0XBDAJ8LOSJuGOD/IkfFDQX8V+TIuOGAf4scHTckcF/kKeCGBe5CngpuaOBTyO3x9OAGvQs857OK0e7k+l7Eca1N0+yehGVZtkjfkFvsvr9X3/eFB/6h5PbQJHDD/4s4rmRf8kt7LD3mvKcfc/YttOt9kyi46yIi/1xg+NMRWGBYAJ63YIFhAXjeggWGBeB5CxYYFoDnLVhgWACet2CBYQF43oIFhgXgeQsWGBaA5y1YYFgAnrdggWEBeN6CBYYF4HkLFhgWgOctWGBYAJ63YIFhAXjeggWGBeB5CxYYFoDnLRgG3gILBxBomRqs9AAAAABJRU5ErkJggg==) no-repeat;background-size:cover;}

.sg_nav_on .sg_nav_list{position:absolute;top:0px;left:0px;right:0px;height:auto;background-color:#E0E0E0;border-bottom:1px solid #b3b3b3;z-index: 1}
.sg_nav_on .sg_nav_trigger:after{-webkit-transform:rotate(180deg);transform:rotate(180deg);}



/*============================== 内容 ==============================*/
.sg_ctn{padding-top:10px;border-top: 1px solid #e3e3e3;}
.sg_tit{font-size: 18px;font-weight: normal;text-align: center;margin-bottom: 10px;}


/*============================== 商品列表 ==============================*/
.sg_loading{text-align:center;padding:20px 0;font-size:14px;}
.sg_loading img{margin-bottom:10px;color:#fff;}
/*================ 单列 ================*/
.sg_glist{padding: 0 10px;}
.sg_glist li{box-shadow: 0 0 3px rgba(0,0,0,.1);margin-bottom: 10px;}

/*================ 两列 ================*/
.sg_glist2{margin: 0 10px;padding:0 10px 0 0;}
.sg_glist2 li{float: left;width: 50%;margin: 0 10px 10px 0;}
.sg_glist2 li:nth-child(2n) {margin-right: -10px;}
.sg_glist2 .sg_g_price{border-top: 1px solid #dedede;padding-top: 5px;}
.sg_glist2 .sg_g{padding: 5px;}


/*============================== 单品 ==============================*/
.sg_g{padding: 10px;background: #fff;display: block;color: #888;}
.sg_g_img{position: relative;margin-bottom: 5px;}
.sg_g_tag{position: absolute;top: 0;left: 0;height: 18px;width: 55px;padding-right:5px;text-align: center;color: #fff;line-height: 17px;}
.sg_g_img img{display: block;width: 100%;}
.sg_g_desc{height:24px;overflow:hidden;line-height: 24px;color: #fff;background: rgba(0,0,0,.7);position: absolute;bottom: 0;left: 0;width: 100%;padding:0 18px;box-sizing:border-box;white-space: nowrap;word-break:break-all;text-overflow: ellipsis;}
.sg_g_desc:before{content: '';position: absolute;top: 8px;left: 5px;width:9px;height:7px;background-position: -68px 0;}
.sg_g_tit{height: 20px;overflow:hidden;line-height: 20px;font-size: 14px;white-space: nowrap;word-break:break-all;text-overflow: ellipsis;margin-bottom: 3px;color: #333;}
.sg_g_name{height: 40px;line-height: 20px;overflow: hidden;margin-bottom: 5px;color: #333;}
.sg_g_row{overflow: hidden;line-height: 20px;border-bottom: 1px solid #dedede;padding-bottom: 5px;margin-bottom: 5px;}
.sg_g_price span{color: #e12228;font-size: 14px;margin-right: 3px;font-weight: bold;}
.sg_g_sale span{color: #fd4d00;margin: 0 3px;font-weight: bold;}
.sg_g_time{text-align: right;}
.sg_g_time:before{content: '';width: 11px;height: 11px;display: inline-block;vertical-align: middle;background-position: -80px 0;margin-top: -2px;}
.sg_g_time span{color: #535353;margin: 0 2px;}
.sg_g_divide{padding-top: 5px;}
.sg_g_new{width: 25px;height: 10px;display: inline-block;vertical-align: middle;background-position: -110px 0;margin-left: 5px;}


/*============================== 内页 ==============================*/
.sg_detail{border: 1px solid #d7d7d7;background: #fff;display: block;margin: 10px;}
.sg_detail_g{overflow: hidden;border-bottom:1px solid #d7d7d7; }
.sg_detail_g .sg_g_img{float: left;width: 35%;margin-right: 10px;}
.sg_detail_g .sg_g_info{overflow: hidden;}
.sg_detail_g .sg_g_tit,
.sg_detail_g .sg_g_price,
.sg_detail_g .sg_g_sale{margin-bottom: 5px;}
.sg_detail_g .sg_g_time{text-align: left;}
.sg_detail_g .sg_g_tit{padding-right: 30px;position: relative;}


.sg_detail_rec{padding: 10px;border-top: 1px solid #fff;background: #f8f8f8;color: #969696;}
.sg_detail_rec_form{margin-bottom: 5px;}
.sg_detail_rec_form span{color: #333;}
.sg_detail_rec_reason{padding-left: 15px;position: relative;}
.sg_detail_rec_reason:before{content: '';position: absolute;left: 0;top: 5px;width: 12px;height: 10px;background-position: -95px 0;}

/*============================== 空列表 ==============================*/
.blank{display:block;margin:50px auto;width:207px;height:104px;background-image:url(http://static.paipaiimg.com/fd/qqpai/my/img/blank.png);background-repeat:no-repeat;-webkit-background-size: 207px 104px;background-size: 207px 104px;text-align:center;line-height:80px;overflow:hidden;color:#999;}
.blank a{color:#3385E4;}

/* APP下优化 */
.sg_fixed .sg_nav{position:fixed;top:0px;z-index:99;width:100%;max-width:640px;background-color:#fff }
.sg_fixed .sg_tit{padding-top:36px;}
.bar_fixed .sg_nav{background-color:#fff;}
.bar_fixed .mod_bar{position:fixed;top:0px;z-index: 101;width:100%;max-width:640px;}
.bar_fixed .mod_page{padding-top:48px;}

/*  |xGv00|d7c3d0f79a2ba9bfc92364ce4b5f2101 */