<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <meta charset="gbk">
    <meta http-equiv="Content-Type" content="text/html; charset=gbk">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"  />
    <title>拍拍-我的拍便宜</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">

    <meta http-equiv="x-dns-prefetch-control" content="on" />
    <link rel="dns-prefetch" href="//pics0.paipaiimg.com">
    <link rel="dns-prefetch" href="//pics1.paipaiimg.com">
    <link rel="dns-prefetch" href="//pics2.paipaiimg.com">
    <link rel="dns-prefetch" href="//pics3.paipaiimg.com">
    <link rel="dns-prefetch" href="//static.paipaiimg.com">
   	<link combofile="qqpai/tuan/index.shtml" rel="stylesheet" href="http://static.paipaiimg.com/c/=/fd/qqpai/base/css/gb.min.css,/fd/qqpai/tuan/css/index_v3.min.css?t=20141113" />
   	<!--#include virtual="common.shtml" -->
	<meta id="footerInMoblie"  change="true" />
</head>
<body>
<script type="text/javascript">
	var $HEADER_CONFIG = {
		type:'B',						
		left:'back'
	};
</script>
<script type="text/javascript" src="http://static.paipaiimg.com/sinclude/mobile/common/cache.js?date=113"></script>
<script type="text/javascript" charset="utf-8" src="http://static.paipaiimg.com/sinclude/mobile/common/header.min.js?date=3"></script>
<!--[if !IE]>|xGv00|4bc2c9b5eb1e61a1ef5a6a0948db1a05<![endif]-->
<div class="QQ_con" style="padding-top:0">
		<!-- S 开团列表 tuan list = tl -->
		<div class="tl">
			
		</div>
		<!-- E 开团列表 -->
		<div id="loadTipWrap" style="text-align:center;margin:10px 0;">
	        <img id="loadTipImg" src="http://static.paipaiimg.com/wx/img/common/loading.gif" style="display:none;">
	        <div id="loadTipWords"></div>
	    </div>
	</div>
<div class="mod_aside" style="display:none;">
  <a href="javascript:void(0);" class="mod_aside_more"></a>
<!--  <div class="mod_aside_item" style="display:none;">
    <a href="http://paipai.com/m2/index.html?_wv=1&ptag=12475.20.1" class="mod_aside_index">主页</a>
    <a href="http://paipai.com/m2/my/index.shtml?_wv=1&ptag=12475.20.4" class="mod_aside_center">个人中心</a>
    <a href="http://paipai.com/m2/my/order_list.shtml?_wv=1&ptag=12475.20.3" class="mod_aside_order">我的订单</a>
  </div>-->
</div>
<div id="pcheap_mod_rcmd_wrap"></div>
<script src="http://static.paipaiimg.com/fd/paipai/search/recommend/0.0.2/js/recommend.min.js?t=201502091427" charset="utf-8">
</script><!--[if !IE]>|xGv00|59bcea7457002249a37b0ccf93c72438<![endif]-->
<script type="text/javascript" src="http://static.paipaiimg.com/js/zepto.1.1.3.min.js?t=201407"></script>
<script type="text/javascript" src="http://static.paipaiimg.com/paipai_h5/js/ttj/shareapi.js"></script>
<script id="template_tuan" type="text/plain">
<div class="mt_order <%=tuanVClass%>">
	<div class="mt_g">
		<div class="mt_g_img">
			<a href="tuan_result.html?_wv=1&gid=<%=tuanGid%>"><img src="<%=imgUrl%>" alt=""></a>
		</div>
		<div class="mt_g_info">
			<p class="mt_g_name"><%=tuanName%></p>
			<p class="mt_g_price">成团价：<span>￥<b><%=tuanPrice%></b>/件</span><i></i></p>
		</div>
	</div>
	<div class="mt_status">
		<span class="mt_status_txt"><%=status%></span>
		<a href="tuan_result.html?_wv=1&gid=<%=tuanGid%>" class="mt_status_lk">查看团详情</a>
	</div>
</div>
</script>
<script type="text/javascript">
	/*function getHtml(tpl, data){
			return tpl.replace(/{([\w\-]+)\}/g, function(match, key) {
				return typeof data[key] !== undefined ? data[key] : '';
			});
		};*/
	$(".tl").on("click",function(e){
		e.stopPropagation();
		if($(e.target).parents(".mt_g").length==1 || $(e.target).hasClass("mt_g")){
			var url = $(e.target).parents(".mt_order").find("a").eq(0).attr("href");
			location.href = url;
		}
		
	});
	function template(obj,data) {
      var str = obj.html();
      var _formatJson_cache = {};
      var fn = _formatJson_cache[str] ||
          new Function("obj",
              "var p=[],print=function(){p.push.apply(p,arguments);};" +
              "with(obj){p.push('" + str
              .replace(/[\r\t\n]/g, " ")
              .split("<%").join("\t")
              .replace(/((^|%>)[^\t]*)'/g, "$1\r")
              .replace(/\t=(.*?)%>/g, "',$1,'")
              .split("\t").join("');")
              .split("%>").join("p.push('")
              .split("\r").join("\\'") + "');}return p.join('');");
      return data ? fn(data) : fn;
    };
    var showRecommend =(function(){
    	var instance;
    	function execRecommed(){
    		//展示为你推荐的商品
			Recommend.factory({
				scene: 'pp_inexpensive',
				param: {
					"sf": 1416471665,
					"hid":3002,
					"mid":1006,
					"low":0,
					"type":4,
					"q":"9527|3||"
				},
				ptag:"12495.8.1",
				isMobile: true,
				title: '为您推荐拍便宜',
				namespace: 'PP_rec_mod',
				id: 'pcheap_mod_rcmd_wrap',
				url: 'http://bi.paipai.com/json/show'
			});
    	}
    	return {
    		getStance : function(){
    			if(!instance){
		    		instance = new execRecommed();
		    	}
    		}

    	}
    	
    })();
	window.showmyttjitems=function(json){
		$("#loadTipImg").hide();
		if(json && 10024 == json.rc){
			var ua = navigator.userAgent.toLowerCase();
		    var isWX = window.WeixinJSBridge;
		    var isMQQ = false;
		    if(!isWX){isWX = ua.match(/micromessenger/)?true : false;}
		    if(/qq\/([\d\.]+)*/.test(ua)){isMQQ = true;}
			if(isWX){
		        window.location.href = 'http://b.paipai.com/mlogin/tws64/m/wxv2/Login?appid=1&rurl=' + encodeURIComponent(location.href);
		    }else if(isMQQ){
		        if(mqq && mqq.data){
		            mqq.data.getUserInfo(function(o){
		                window.location.href = location.href;
		            });
		        }
		    }else{
		        window.location.href = "http://b.paipai.com/mlogin/tws64/m/h5v1/cpLogin?rurl="+encodeURIComponent(location.href);
		    }
			return false;
		}
		if(json && JSON.parse(json.results).items != null){
			var tuanData=JSON.parse(json.results),
			tuanArr=tuanData.items,
			tuanLen=tuanArr.length,tuanObj,curTuan,tuanHTML="";
			//tpl=['<a class="tl_g" style="display:block;" href="http://www.paipai.com/m2/ttj/tuan_result.html?_wv=1&gid={tuanGid}">','<div class="tl_g_img">','<div><img src="{imgUrl}" alt=""></div>','</div>','<div class="tl_g_info">','<p class="tl_g_name"><span class="tl_g_state"></span><span class="tuanName">{tuanName}</span></p>','<p class="tl_g_price">成团价：<b>&yen;<span class="tuanPrice">{tuanPrice}</span></b>/件<i></i></p>','</div>','</a>'].join("");

			tuanLoadObj.listNum+=tuanLen;
			var statusText=['','','团购进行中','团购成功','团购失败','团购成功','团购失败'];
			for(var i=0;i<tuanLen;i+=1){
				curTuan=tuanArr[i];
				tuanObj={
					tuanGid:curTuan.gid,
					imgUrl:curTuan.spic.replace("0.jpg","0.120x120.jpg"),
					tuanName:curTuan.name,
					tuanPrice:curTuan.price/100,
					status:statusText[curTuan.status],//2.已激活3.已成团4.已过期5.已履单6.已撤团
					tuanVClass:""
				};
				//0非大V团，1大V团
				if(curTuan.istuanv)tuanObj.tuanVClass = "mt_order_vip";
				tuanHTML += template($("#template_tuan"),tuanObj);
			};
			if($(".tl").children().length==0)
				$(".tl").append('<div class="mt_tips">了解拍便宜商品订单详情，请查阅“我的订单”</div>');
			$(".tl").append(tuanHTML);
			if(tuanLoadObj.listNum==parseInt(tuanData.total)){
                tuanLoadObj.allLoaded=true;
                $("#loadTipWords").html("<div class='blank2'>团已全部显示！</div>");
            }else{
                $("#loadTipWords").html("点击加载更多！");
            }
		}else{
			tuanLoadObj.allLoaded=true;
            var tipWord=tuanLoadObj.loadNum==0?"<div class='blank'>暂时没有团购！</div>":"<div class='blank2'>团已全部显示！</div>";
			$("#loadTipWords").html(tipWord);
		}
		tuanLoadObj.loading=false;
		showRecommend.getStance();
	};
	$("#loadTipWords").click(function(){
        if(!tuanLoadObj.allLoaded && !tuanLoadObj.loading){
        	tuanLoadObj.loadNum+=1;
            loadTuanData(tuanLoadObj.loadNum);
        }
    });
    $(document).on("scroll",function(){
        if(!tuanLoadObj.allLoaded && !tuanLoadObj.loading){
            if(($(window).height()+(document.body.scrollTop? document.body.scrollTop : document.documentElement.scrollTop))>=$(document.body).height()-10){
                tuanLoadObj.loadNum+=1;
            	loadTuanData(tuanLoadObj.loadNum);
            }
        }
    }); 
	var tuanLoadObj={allLoaded:false,loadNum:0,loading:false,listNum:0}
	function loadTuanData(e){
		$("#loadTipWords").html("");
	    $("#loadTipImg").show();
	    tuanLoadObj.loading=true;
		$.get("http://b.paipai.com/mytuantj/GetMyTtjItemsInfo?page="+e+"&size=5",window.showmyttjitems,"jsonp");
	}
	loadTuanData(0);
	function shareFun(url){
        shareApi({
                "url": url,
                "qq_title": "拍拍",
                "qzone_title": "拍拍",
                "wechat_title": "拍拍",
                "wechat_time_title": "拍拍 - 京东旗下大型电商平台，更多优惠，更多选择，更加好玩！",
                "wechat_desc": "京东旗下大型电商平台，更多优惠，更多选择，更加好玩！",
                "qq_desc": "京东旗下大型电商平台，更多优惠，更多选择，更加好玩！",
                "qzone_desc": "京东旗下大型电商平台，更多优惠，更多选择，更加好玩！",
                "img": "http://static.paipaiimg.com/v5/img/init_img.png",
                "ptag":{ 
                         w2w:"12475.30.1", //微信分享至微信好友
                         w2t:"12475.30.2", //微信分享至朋友圈
                         //w2b:"",        //微信分享至腾讯微博,如果没有，可不传
                         //w2e:"",        //微信发送邮件，如果没有，可不传
                         q2q:"12475.29.1", //手Q分享至QQ好友或群
                         q2z:"12475.29.2", //手Q分享至QQ空间
                         q2w:"12475.29.3", //手Q分享至微信好友
                         q2t:"12475.29.4"  //手Q分享至朋友圈
                       }
              });
    }
	function isMQQUserAgent() {
	    if (/qq\/([\d\.]+)*/i.test(navigator.userAgent)) {
	        return true;
	    }
	    return false;
	}
	function isWx(){
	    var isWX = window.WeixinJSBridge;
	    if(!isWX){
	         var ua = navigator.userAgent.toLowerCase();
	         isWX = ua.match(/micromessenger/)?true : false;
	    }
	    return isWX;
	}
	if(isWx()){
	    shareFun("http://www.paipai.com/m2/index.html?_wv=1");
	}
	if(isMQQUserAgent()){
		$(".mod_bar").hide();
	    shareFun("http://app.paipai.com/takeCheap/tuan_list.html?_wv=1");
	}
    $(".mod_aside_more").click(function(){
       // $(".mod_aside_item").toggle();
    });
    
</script>
<script src="http://static.gtimg.com/js/version/2014/09/ecc.cloud.ppmobilereport.20140905.js?t=201409091150" type="text/javascript"></script>
</body>
</html>