<!DOCTYPE HTML>
<html lang="zh-CN"><head>
    <meta charset="gbk">
    <meta http-equiv="Content-Type" content="text/html; charset=gbk">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>拍便宜－挤爆结果页</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">

    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link rel="dns-prefetch" href="//pics0.paipaiimg.com">
    <link rel="dns-prefetch" href="//pics1.paipaiimg.com">
    <link rel="dns-prefetch" href="//pics2.paipaiimg.com">
    <link rel="dns-prefetch" href="//pics3.paipaiimg.com">
    <link rel="dns-prefetch" href="//static.paipaiimg.com">
    <link combofile="qqpai/tuan/ttj/tuan_jibaoresult.shtml" rel="stylesheet" href="http://static.paipaiimg.com/c/=/fd/qqpai/base/css/gb.min.css,/fd/qqpai/tuan/css/index_v3.min.css?t=20141111">
</head>
<body>
<div id="successRes" style="display:none;">
    <div class="say">
      <div class="say_state say_state_succ">
          <p class="say_state_tit">成功挤爆该团！</p>
          <div class="say_state_txt">你的运气真是惊天地泣鬼神</div>
          <p class="say_state_txt2">请尽快完成支付，手慢无！</p>
      </div> 
    </div> 
   
    <div class="H5_con">
        <div class="tm">
           
            <div class="td" id="goodsDetail">
                <script id="template_goodsDetail" type="text/plain">
                    <div class="td_img">
                        <a href="#"><img src="<%=imgUrl%>" alt=""></a>
                    </div>
                    <div class="td_info">
                        <p class="td_name"><%=goodsName%></p>
                        <p class="td_mprice"><%=peopleNum%>人团：<i>￥</i><b><%=goodsPrice%></b><i> /件</i></p>
                        <p class="td_num">累计参团：<span><%=tuan_num%></span>人</p>
                    </div>
                </script>
            </div>

            <!--sku模块-->
            <div class="sku" id="sku_dom" style="display:none;">
                <div class="sku_hd">请选择商品属性</div>
                <div class="sku_list" id="propertyDiv">
                
                </div>
                <a href="javascript:void(0);" class="sku_btn" id="sku_buyBtn">确定</a>
            </div>
        </div>
    </div>
    <div class="yy_opt">
        <a href="javascript:;" class="yy_btn" id="goSelect">去付款</a>
    </div>

</div>
<div id="failRes" style="display:none;">
    <div class="say_state say_state_err">
        <p class="say_state_tit">挤爆失败</p>
        <div class="say_state_txt">下次记得洗洗手再来哦！</div>
    </div>
    <div class="yy_opt">
        <a href="javascript:window.location.href=window.location.href;" class="yy_btn">再来挤一挤</a>
		<a href="javascript:;" class="yy_btn2" id="goKaiTuan">自已组个团</a>
    </div>
</div>
<script type="text/javascript" src="http://static.paipaiimg.com/paipai_h5/js/ttj/zepto.min.js"></script>
<script type="text/javascript" src="../js/takeCheapTest/ttj_sku.js?t=201410393424"></script>
<script type="text/javascript">
    ;(function(){
        if(getQuery("isvtuan")=="true"){
          $("body").addClass("vip");
          
        }
        if(plogin()){//判断是否有登录
           //判断是否可以挤爆成功了
            $.get("http://b.paipai.com/tuaninfo/Jibao?callback=JiBao&tid=" + getQuery("gid", location.href) + "&uid=" + getQuery("uin", location.href), function(){}, 'jsonp');
        }else{
            plogin(location.href);
        }
        function JiBao(data){
             if(data){
               renderData(data.JiBao);
             }else{
                renderData("false");
             }
        }
        window.JiBao = JiBao;
        function addTuanNum(){
          $.get('http://b.paipai.com/groupservice/groupplayers?productId='+getQuery("comodityId",location.href),function(json){
            if(json && json.data && json.data.groupplayers>0){
              $("#goodsDetail").find("span").html(json.data.groupplayers);
              localStorage.tuan_num=json.data.groupplayers;
            }
          },'jsonp');
        }
       
        function renderData(dataState){
            if(dataState == "true"){//如果挤爆成功
                //商品的详细数据
                var goodsDetailData = {
                    state      : dataState,//是否挤爆成功
                    goodsName  : "",//商品的名称
                    imgUrl     : "",//商品的图片URL
                    peopleNum  : "",//参团的人数
                    goodsPrice : ""//商品的价格
                }
                var productData = localStorage.getItem("tuan_productInfo") || "";

                if(productData){
                    productData                = productData.split("|");
                    goodsDetailData.imgUrl     = productData[0];
                    goodsDetailData.goodsName  = productData[1];
                    goodsDetailData.peopleNum  = productData[2];
                    goodsDetailData.goodsPrice = productData[3];
                    goodsDetailData.tuan_num   = localStorage.tuan_num || 0;
                }
                
                $("#goodsDetail").html(template($("#template_goodsDetail"), goodsDetailData));
                if(goodsDetailData.tuan_num == 0){
                    addTuanNum();
                }
                $("#successRes").show();
                //按钮上绑定跳转事件
                $("#goSelect").on("click",function(){
                    ajax_getSkuInfo(getQuery("comodityId")); 
                })
            }else{
                
                $("#failRes").show();
                $("#goKaiTuan").on("click", function(){
                    location.href = "tuan_detail.html?_wv=1&ptag=20400.9.3&comodityId="+ getQuery("comodityId");
                });
            }
            
            
        }
        function getQQ(){
            var uin=getCookie("wg_uin") || getCookie("p_uin") || getCookie("uin");
            return uin?parseInt(uin.replace("o",""),10):"";
        }
        function template(obj,data) {
          var str = obj.html();
          var _formatJson_cache = {};
          var fn = _formatJson_cache[str] ||
              new Function("obj",
                  "var p=[],print=function(){p.push.apply(p,arguments);};" +
                  "with(obj){p.push('" + str
                  .replace(/[\r\t\n]/g, " ")
                  .split("<%").join("\t")
                  .replace(/((^|%>)[^\t]*)'/g, "$1\r")
                  .replace(/\t=(.*?)%>/g, "',$1,'")
                  .split("\t").join("');")
                  .split("%>").join("p.push('")
                  .split("\r").join("\\'") + "');}return p.join('');");
          return data ? fn(data) : fn;
        };
        ///登录
        function getCookie(name) {
            var reg = new RegExp("(^| )" + name + "(?:=([^;]*))?(;|$)"),
                val = document.cookie.match(reg);
            return val ? (val[2] ? unescape(val[2]) : "") : null;
        }
        function plogin(rurl){
            var ua = navigator.userAgent.toLowerCase();
            var isWX = window.WeixinJSBridge;
            var isMQQ = false;
            if(!isWX){isWX = ua.match(/micromessenger/)?true : false;}
            if(/qq\/([\d\.]+)*/.test(ua)){isMQQ = true;}
            if(!rurl){
                if(isMQQ){
                    return (getCookie("skey") && getCookie("uin"))?true:false;
                }else{
                    return (getCookie("wg_skey") && getCookie("wg_uin") || getCookie("p_skey") && getCookie("p_uin") || getCookie("skey") && getCookie("uin"))?true:false;
                }
            }
            if(isWX){
                window.location.href = 'http://b.paipai.com/mlogin/tws64/m/wxv2/Login?appid=1&rurl=' + encodeURIComponent(rurl);
            }else if(isMQQ){
                if(mqq && mqq.data){
                    mqq.data.getUserInfo(function(o){
                        window.location.href = rurl;
                    });
                }
            }else{
                window.location.href = 'http://b.paipai.com/mlogin/tws64/m/h5v1/cpLogin?rurl=' + encodeURIComponent(rurl) + '&sid=' + getCookie('sid') + '&uk=' + getCookie('uk');
            }
        }

        function getQuery(name, url) {
            //参数：变量名，url为空则表从当前页面的url中取
            var u = arguments[1] || window.location.search,
                reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"),
                r = u.substr(u.indexOf("\?") + 1).match(reg);
            return r != null ? r[2] : "";
        }
        var speakArr = ['帮你团！你是请我吃饭还是以身相许？','参团不带我？辣怎么行！','矮油，这货不错，快来一起买！',
                       '帮你一把，怎么报答我？自觉联系我。','这么给力的，你还上哪儿找切。','我来审查你的口味！',
                       '啧啧，团长都剁手了，赶紧帮一把。','价钱合适量又足，谢谢团长！','搬板凳，排排坐，跟着团长拍便宜。',
                       '一直潜水，今日得以表白: 团长，么么哒！','这个也团啊？好吧，坚定跟着团长走！'];
        var v_participant_speakArr =['别误会，我只是奔着价格来的。','难得看见超级团，当然不能错过。','没想到啊，您老竟然是超级团长。',
                       '我身边竟然藏着超级团长。','以后都靠你开团了，团长威武。','你是我的小呀小苹果，怎么跟你团都不嫌多。',
                       '我什么都愿意，什么都愿意为你！','说，给你捧场能有啥好处？','超级团就是牛，教教我怎么当大V吧。',
                       '说好一起剁手的呢，我也是醉了。','与其仰望，不如加入。','相信团长的品味，团购必须跟上！'];
        var urlSpeakPram = "";
        if(getQuery("isvtuan")=="true"){
          urlSpeakPram = encodeURIComponent(v_participant_speakArr[Math.floor(Math.random() * v_participant_speakArr.length)]);
        }else{
          urlSpeakPram = encodeURIComponent(speakArr[Math.floor(Math.random() * speakArr.length)]);
        }

        //检查sku的情况，可能是单，也可能是多sku
        var ajax_getSkuInfo =function(commodityId,href){
          $.ajax({
            type: 'GET',
            url: 'http://b.paipai.com/groupservice/createGroup?ic='+commodityId+'&querysku=1',
            dataType: 'jsonp',
            success: function(data){
              if(data.ret =="0"){
                if(data.StockList_StockNum==1){//进入有可能是multisku=2,即无法判断
                  //单SKU时，灰度50%跳转到下单页
                  //if(getQQ() && parseInt(getQQ(),10)%2){
                  if(false){
                      localStorage.tuan_buyurl=localStorage.tuan_buyurl + "&isJBT=1&speak="+urlSpeakPram;
                      window.location.href=localStorage.tuan_buyurl;  
                  }else{   
                      localStorage.tuan_buyurl=localStorage.tuan_buyurl + "&isJBT=1";
                      window.location.href="tuan_speak.html?_wv=1&ptag=20400.9.2";
                  }
                }else{
                  $("#sku_dom").show();
                  $("#goSelect").hide();
                  initSku(data);
                }
              }else{ 
                alert("系统繁忙，去看看别的～");
                window.location.href="tuan_list.html?_wv=1&ptag=20400.9.2";
              }
            },
            error: function(xhr, type){ 
              alert("系统繁忙，去看看别的～");
              window.location.href="tuan_list.html?_wv=1&ptag=20400.9.2";
            }
          });
        };

        //初始化sku组件
        var initSku =function(__obj){
          window.cmdtySku =new propSelector({
            domId: 'propertyDiv',           //存放多个sku的容器div的id
            activeClass: 'sku_option_selected',   //选择相应sku属性时候添加的类class
            disableClass: 'sku_option_disabled',  //未选择相应sku属性时候添加的类class
            propGroupClass: 'sku_attr',     //存放单个sku中所有属性值的容器div的class
            stocklist : __obj.stocklist,    //存放sku信息的数组
            stockData : __obj.StockList_StockString,  //所有sku对应的字符串信息
            onSkuEmpty:function(){},
            onSelected:function(propData){
              window.skuChoose = propData;
            }
          });
          window.skuChoose = window.cmdtySku.getSelectedProp();
          $('#sku_buyBtn').on('click',function(){
            if(checkSku()){
                var hrefVal="&tuan=1&itemid="+getQuery("comodityId")+"&uin="+getQuery("uin")+"&groupnum="+getQuery("ptotal")+"&gid="+getQuery("gid");
                var propData = window.skuChoose, skuPro=encodeURI(propData.prop.join('|'));
                var url = 'http://m.paipai.com/m2/p/cart/order/s_confirm.shtml?ptag=20400.9.2'+hrefVal+'&commlist=' +[getQuery("comodityId",location.href), skuPro, getQuery("dataBuyNum"), propData.skuid].join(',')+'&_wv=1'+"&isJBT=1"+((getQuery("isvtuan")=="true")?"&isdav=1":"");
            
                localStorage.tuan_sku=propData.prop.length==1?propData.prop[0]:propData.prop.join('|') || "";
                 //多SKU时，加灰度判断50%跳转到下单页  
                //if(getQQ() && parseInt(getQQ(),10)%2){
                if(false){
                  localStorage.tuan_buyurl=url+"&speak="+urlSpeakPram;
                  window.location.href=localStorage.tuan_buyurl;
                }else{
                  localStorage.tuan_buyurl=url;
                  window.location.href ="tuan_speak.html?_wv=1&ptag=20400.9.2";
                }
            }
          });
        };
        //检测sku是否选中
        var checkSku =function(){
          var propData = window.skuChoose, emptyProp = [];
          for (var key in propData.propMap) {
            if (!propData.propMap[key]) { //没有选中的
              emptyProp.push("“" + key + "”");
            }
          }
          if (emptyProp.length > 0) {
            $('.ftips_cnt').text('请选择:'+emptyProp.join('/'));
            $('.ftips').show();
            window.setTimeout(function(){
              $('.ftips').hide();
            },700);
            return false;
          }
          return true;
        };

    })();
</script>

</body>
</html>